body {font-size:14px;}

a {
    //&:hover {color:var(--fd-col-ft-hover);background:var(--fd-col-bg-hover)}
}

body {font-family:nanumSquare;}

* code {font-family:d2coding;}



// [COMPONENT]
.fd-box {display:block;}
.fd-elem {display:inline-block;}