

@mixin afull($xv:0px, $xh:$xv){
    top:$xv;
    bottom:$xv;
    right:$xh;
    left:$xh;
}


@mixin v-mid {display:flex;align-items:center;}
@mixin h-mid {display:flex;justify-content:center;}
@mixin a-mid {display:flex;align-items:center;justify-content:center;}