

// App Color Set
$fd-col-primary : #4793AF;
$fd-col-secundus: #FFC470;
$fd-col-high-ft : #8B322C;
$fd-col-high-bg : #DD5746;


// Base colors
$fd-col-red    : #E74C3C;
$fd-col-orange : #F39C12;
$fd-col-yellow : #F1C40F;
$fd-col-green  : #27AE60;
$fd-col-blue   : #3498DB;
$fd-col-violet : #8E44AD;
$fd-col-navy   : #34495E;